@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
    --light-turquoise:   #a3d9db;
    --dark-turquoise:    #3c9289;
    --turquoise:         #00b3ae;
    --deep-turquoise:    #0095a8;
    --purple:            #9b377e;
    --pink:              #e02675;
    --bright-blue:       #00a3e4;
    --light-swamp-green: #9db271;
    --sky-blue:          #a1dbdd;

}

body {
	font-family: "Nunito", Helvetic, sans-serif !important;
}

a {
    color: var(--turquoise) !important;
    text-decoration: none;
}

a:hover {
    color: var(--deep-turquoise) !important;
}

.faint-text {
    color: #bbb;
}

#header-container {
    text-align: center;
    padding: 20px 0 10px 0;
}

#header-logo {
	height: 50px;
}

nav {
    background-color: var(--turquoise);
}

.custom-container {
    /* Copied from skeleton.css but does not have weird spacings due to not having dependencies */
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
}

nav ul:after {
    content: "";
    display: table;
    clear: both;
}

nav ul li {
    float: right;
    margin-bottom: 0;
    padding: 10px 15px;
    color: #fff;
}

#log-out {
    margin-top: 7px;
    padding: 2px 10px;
    border: 1px solid #fff;
}

nav ul li:hover {
    color: var(--sky-blue);
}

form input, form button {
    width: 100%;
}

form {
    width: 100%;
    max-width: 350px;
}

.submit-button {
    color: #fff !important;
    border: 1px solid var(--turquoise) !important;
    background-color: var(--turquoise) !important;
    margin-bottom: 10px;
}

/* yes-no slider switch */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}
.switch input {
    display:none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--turquoise);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--turquoise);
}
input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}
.switch-container {
    margin-top: 10px;
}
.switch-container p {
    display: inline-block;
}

.centre-align {
    text-align: center;
}

.right-align {
    text-align: right;
}
