.list-group-item {
	padding-bottom: 0px;
}

.glyphicon {
	margin-top: 23px;
	font-size: 35px;
}

.btn {
	margin-top: 30px;
}

.well-sm {
	margin-top: 13px;
	padding: 15px 10px 0px 10px;
	background-color: var(--turquoise);
	color:white;

}