#profile-image {
    width: 90%;
    max-width: 160px;
    display: block;
    margin: 0 auto;
}

#change-avatar {
    display: block;
    text-align: center;
    margin: 10px 0;
}

#profile-name {
    font-size: 4rem;
}

.profile-qualification {
    display: inline-block;
    background-color: var(--pink);
    border: 1px solid var(--pink);
    margin-right: 10px;
    color: #fff;
}

.profile-qualification-do-not-have {
    background-color: #fff;
    color: #ccc;
    border: 1px solid #ccc;
}

#avatar-button, .profile-qualification {
    padding: 8px 16px;
}

#change-personal-details {
    margin: 50px 0 30px;
    font-size: 3rem;
}

.profile-form {
    margin-bottom: 50px;
}
