#calendar-info h1 {
	font-size: 30px;
	margin-bottom: 10px;
}

#calendar-info p {
	font-size: 14px;
}

#key {
	list-style: none;
	float: right;
	border: 1px solid #bbb;
	padding: 10px;
	font-size: 12px;
}

#calendar-filters {
	font-size: 12px;
}

#calendar-filters p {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 5px;
}

.blob {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -5px;
}

.blob-clickable:hover {
	cursor: pointer;
}

.tick-icon {
    width: 22px;
    height: 22px;
}

.color-blank {
	background-color: #fff;
	border: 1px solid #bbb;
}

.color-available {
	background-color: #aed6f1;
	border: 1px solid #aed6f1;
}

.color-full {
	background-color: #ddd3ee;
	border: 1px solid #ddd3ee;
}

.color-booked {
	background-color: #bbf0ad;
	border: 1px solid #bbf0ad;
}

#calendar-modal-outer {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
}

#calendar-modal {
	border: 1px solid #bbb;
	padding: 25px 25px 35px 25px;
	width: 300px;
	background-color: #fff;
    margin: 15% auto;
    position: relative;
}

#calendar-modal .close {
	color: #bbb;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 15px;
}

#calendar-modal .close:hover, #calendar-modal .close:focus {
	color: black;
    text-decoration: none;
    cursor: pointer;
}

#calendar-modal ul {
	list-style: none;
	margin-bottom: 0 !important;
}

#calendar-modal ul:first-of-type {
	margin-bottom: 20px !important;
}

#calendar-modal li {
	margin-bottom: 10px !important;
}

#calendar-modal li:last-of-type {
	margin-bottom: 0 !important;
}

#calendar-modal h2 {
	font-size: 16px;
}

#calendar-modal h3 {
	font-size: 20px;
	margin-bottom: 10px !important;
}

.user-in-role {
	width: 150px;
	display: inline-block;
	float: right
}

#calendar {
	width: 100%;
	margin-bottom: 10px;
}

.grid-container {
	display: grid;
	grid-gap: 3px;
}

.grid-container > div {
	text-align: center;
}

.grid-container .text {
	padding: 5px;
	background-color: #f5f5f5;
}

.col1 {
	grid-column-start: 1;
	grid-column-end: 4;
}

.col2 {
	grid-column-start: 4;
	grid-column-end: 7;
}

.col3 {
	grid-column-start: 7;
	grid-column-end: 10;
}

.col4 {
	grid-column-start: 10;
	grid-column-end: 13;
}

.col5 {
	grid-column-start: 13;
	grid-column-end: 16;
}

.col6 {
	grid-column-start: 16;
	grid-column-end: 19;
}

.col7 {
	grid-column-start: 19;
	grid-column-end: 22;
}

.col8 {
	grid-column-start: 22;
	grid-column-end: 25;
}

.col-1 {
	grid-column-start: 1;
	grid-column-end: 4;
}

.col-2 {
	grid-column-start: 4;
	grid-column-end: 5;
}

.col-3 {
	grid-column-start: 5;
	grid-column-end: 6;
}

.col-4 {
	grid-column-start: 6;
	grid-column-end: 7;
}

.col-5 {
	grid-column-start: 7;
	grid-column-end: 8;
}

.col-6 {
	grid-column-start: 8;
	grid-column-end: 9;
}

.col-7 {
	grid-column-start: 9;
	grid-column-end: 10;
}

.col-8 {
	grid-column-start: 10;
	grid-column-end: 11;
}

.col-9 {
	grid-column-start: 11;
	grid-column-end: 12;
}

.col-10 {
	grid-column-start: 12;
	grid-column-end: 13;
}

.col-11 {
	grid-column-start: 13;
	grid-column-end: 14;
}

.col-12 {
	grid-column-start: 14;
	grid-column-end: 15;
}

.col-13 {
	grid-column-start: 15;
	grid-column-end: 16;
}

.col-14 {
	grid-column-start: 16;
	grid-column-end: 17;
}

.col-15 {
	grid-column-start: 17;
	grid-column-end: 18;
}

.col-16 {
	grid-column-start: 18;
	grid-column-end: 19;
}

.col-17 {
	grid-column-start: 19;
	grid-column-end: 20;
}

.col-18 {
	grid-column-start: 20;
	grid-column-end: 21;
}

.col-19 {
	grid-column-start: 21;
	grid-column-end: 22;
}

.col-20 {
	grid-column-start: 22;
	grid-column-end: 23;
}

.col-21 {
	grid-column-start: 23;
	grid-column-end: 24;
}

.col-22 {
	grid-column-start: 24;
	grid-column-end: 25;
}

.time-slot {
	height: 90px;
}

.time-slot:hover {
	cursor: pointer;
}

.time-slot-empty {
	background-color: #fff;
}

.time-slot-available {
	background-color: #aed6f1;
}

.time-slot-full {
	background-color: #ddd3ee;
}

.time-slot-booked {
	background-color: #bbf0ad;
}

.time-slot-hover {
	filter: brightness(80%);
}

.vertically-centered {
	line-height: 75px;
}

.date {
	display: block;
	font-size: 12px;
}

.book-button {
	font-size: 10px;
	line-height: 20px;
	padding: 5px 30px;
	height: auto;
}

#calendar-navigation-right {
	display: inline-block;
	float: right;
}

#calendar-navigation-right:hover {
	cursor: pointer;
}

#calendar-navigation-right:hover p {
	color: var(--turquoise);
}

#calendar-navigation-right p {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#calendar-navigation-right img {
	width: 30px;
}
