<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Bookings</title>
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="Team 3">

    <!-- Mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="stylesheets/schedule.css">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/bookings.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/bookings.js"></script>
</head>

<body>
    <div id="header-container">
        <a href="schedule">
            <img id="header-logo" src="images/logo.jpg" alt="Logo">
        </a>
    </div>

    <nav>
        <div class="custom-container">
            <ul>
                <a href="login">
                    <li id="log-out">
                        Log out
                    </li>
                </a>
                <a href="profile">
                    <li>
                        Profile & Settings
                    </li>
                </a>

                <a href="bookings">
                    <li>
                        My Bookings
                    </li>
                </a>

                <a href="schedule">
                    <li>
                        Schedule
                    </li>
                </a>
            </ul>
        </div>
    </nav>

	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<h1> My Bookings </h1>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<ul id="booking-list" class="list-group">
					<li class="list-group-item" id = "shift21">
						<div class = "row">
							<div class = "col-sm-2">
								<div class = "well well-sm">
									<h5 align = "center"> 21st </h5>
								</div>
							</div>

							<div class = "col-sm-3">
								<h5> Durham </h5>
								<h5> Tea <h5>
							</div>

							<div class = "col-sm-2">
								<h5> PM <h5>
							</div>

							<div class = "col-sm-2">
								<button type="button" class="btn btn-warning" id = "shift21Button">Cancel</button>	
							</div>

							<div class = "col-sm-3">
								<h5> Approved <span class = "glyphicon glyphicon-ok"> </span> </h5>
							</div>
						</div>
					</li>

					<li class="list-group-item" id="shift23">
						<div class = "row">
							<div class = "col-sm-2">
								<div class = "well well-sm">
									<h5 align="center">23rd<h5>
								</div>
							</div>

							<div class = "col-sm-3">
								<h5> Deerbolt </h5>
								<h5> Visitor Center <h5>
							</div>

							<div class = "col-sm-2">
								<h5> PM <h5>
							</div>

							<div class = "col-sm-2">
								<button type="button" class="btn btn-warning" id = "shift23Button">Cancel</button>
								
							</div>

							<div class = "col-sm-3">
								<h5> Pending <span class = "glyphicon glyphicon-send"> </span> </h5>
							</div>
						</div>
					</li>

					<li class="list-group-item list-group-item-danger" id = "shift27">
						<div class = "row">
							<div class = "col-sm-2">
								<div class = "well well-sm">
									<h5 align="center">27th<h5>
								</div>
							</div>

							<div class = "col-sm-3">
								<h5> Holme House </h5>
								<h5> Tea <h5>
							</div>

							<div class = "col-sm-2">
								<h5> AM <h5>
							</div>

							<div class = "col-sm-2">
								<button type="button" class="btn btn-warning" id = "shift27Button">Cancel</button>
								
							</div>

							<div class = "col-sm-3">
								<h5> Rejected <span class = "glyphicon glyphicon-remove"> </span> </h5>
							</div>
						</div>
					</li>

					<li class="list-group-item" id = "shift4">
						<div class = "row">
							<div class = "col-sm-2">
								<div class = "well well-sm">
									<h5 align="center">4th<h5>
								</div>
							</div>

							<div class = "col-sm-3">
								<h5> Low Newton </h5>
								<h5> Play Area <h5>
							</div>

							<div class = "col-sm-2">
								<h5> AM <h5>
							</div>

							<div class = "col-sm-2">
								<button type="button" class="btn btn-warning" id = "shift4Button">Cancel</button>
								
							</div>

							<div class = "col-sm-3">
								<h5> Pending <span class = "glyphicon glyphicon-send"> </span> </h5>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>




</body>