<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<!-- <meta name="description" content=""> -->
		<meta name="author" content="Team 3">

		<!-- Mobile metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/stylesheets/log_in.css">
        <link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" href="/stylesheets/skeleton.css">

		<!-- Favicon -->
		<!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
	</head>

	<body>
        <div id="header-container">
            <a href="#">
                <img id="header-logo" src="/images/logo.jpg" alt="Logo">
            </a>
        </div>

        <nav>
            <div class="custom-container">
                <ul>
                    <a href="login">
                        <li id="log-out">
                            Log out
                        </li>
                    </a>
                    <a href="profile">
                        <li>
                            Profile & Settings
                        </li>
                    </a>

                    <a href="bookings">
                        <li>
                            My Bookings
                        </li>
                    </a>

                    <a href="schedule">
                        <li>
                            Schedule
                        </li>
                    </a>
                </ul>
            </div>
        </nav>

		<div class="container">
            <div class="row">
                <p id="log-in-welcome">Welcome to the new Nepacs scheduling system</p>

                <form action="/authentication" method="post">
                    <label>Email</label>
                    <input type="text" name="username">

                    <label>Password</label>
                    <input type="password" name="password">

                    <input class="submit-button" type="submit" value="Log in">

                    <button>Forgot password</button>
                </form>
            </div>
		</div>
	</body>
</html>
