<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="Team 3">

    <!-- Mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@1.8.0" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#change-avatar').click(function (){
                $.post("/profile/avatar",{value:1}, function (data, status){})
            })
        })
    </script>


    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>

<body>
    <div id="header-container">
        <a href="#">
            <img id="header-logo" src="/images/logo.jpg" alt="Logo">
        </a>
    </div>

    <nav>
        <div class="custom-container">
            <ul>
                <a href="login">
                    <li id="log-out">
                        Log out
                    </li>
                </a>
                <a href="profile">
                    <li>
                        Profile & Settings
                    </li>
                </a>

                <a href="bookings">
                    <li>
                        My Bookings
                    </li>
                </a>

                <a href="schedule">
                    <li>
                        Schedule
                    </li>
                </a>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="three columns">
                <canvas id="profile-image" width="120" height="120" data-jdenticon-value="<%= jdenticon_name%>"></canvas>
                <a href='' id="change-avatar">Change avatar</a>
            </div>

            <div class="nine columns">
                <h1 id="profile-name"><%=name%></h1>

                <%
                if(prison_clearance){%>
                    <p class="profile-qualification">Prison clear</p>
                    <%}
                if(first_aid){%>
                <p class="profile-qualification">First aid</p>
                <%}%>

                <p><span class="faint-text">You have </span>12 shifts <span class="faint-text">booked in the next 30 days</span></p>

                <h2 id="change-personal-details">Change your personal details</h2>

                <form class="profile-form">
                    <label>New email address</label>
                    <input type="text">

                    <label>Repeat new email address</label>
                    <input type="text">

                    <input class="submit-button" type="submit" value="Save">

                    <p>Your previous email address will be overwritten</p>
                </form>

                <form class="profile-form">
                    <label>New landline phone number</label>
                    <input type="text">

                    <input class="submit-button" type="submit" value="Save">

                    <p>Your previous landline phone number will be overwritten</p>
                </form>

                <form class="profile-form">
                    <label>New mobile phone number</label>
                    <input type="text">

                    <input class="submit-button" type="submit" value="Save">

                    <p>Your previous mobile phone number will be overwritten</p>
                </form>

                <form class="profile-form">
                    <label>Willing to accept requests for you to cover shifts at the last minute</label>
                    <div class="switch-container">
                        <p>No</p>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <p>Yes</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
