<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="Team 3">

    <!-- Mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/schedule.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/schedule.js"></script>
    <script type="text/javascript" src="javascripts/schedule-worker.js"></script>

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>

<body>
<div id="header-container">
    <a href="schedule.html">
        <img id="header-logo" src="images/logo.jpg" alt="Logo">
    </a>
</div>

<nav>
    <div class="custom-container">
        <ul>
            <a href="login">
                <li id="log-out">
                    Log out
                </li>
            </a>
            <a href="profile">
                <li>
                    Profile & Settings
                </li>
            </a>

            <a href="bookings">
                <li>
                    My Bookings
                </li>
            </a>

            <a href="schedule">
                <li>
                    Schedule
                </li>
            </a>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div id="calendar-info" class="eight columns">
            <h1><%=location%> Site</h1>
            <p>Here you can book shifts, amend your booked shifts, and see who is booked onto which shifts</p>
        </div>

        <div class="four columns">
            <ul id="key">
                <li>
                    <div class="blob color-blank"></div>Nepacs is not working in this time slot
                </li>
                <li>
                    <div class="blob color-available"></div>Slots available
                </li>
                <li>
                    <div class="blob color-full"></div>Full (add yourself to the reserve list)
                </li>
                <li>
                    <div class="blob color-booked"></div>You have booked this shift
                </li>
            </ul>
        </div>
    </div>

    <div id="calendar-filters" class="custom-container">
        <div class="row">
            <div class="four columns">
                <p>Currently viewing</p>

                <select onchange="location = 'schedule?location='+this.value;">
                    <option value="Durham" selected="selected">Durham</option>
                    <option value="Deerbolt">Deerbolt</option>
                    <option value="Frankland">Frankland</option>
                    <option value="Holme House">Holme House</option>
                    <option value="Kirklevington Grange">Kirklevington Grange</option>
                    <option value="Low Newton">Low Newton</option>
                    <option value="Northumberland">Northumberland</option>
                    <option value="Youth Project">Youth Project</option>
                </select>
            </div>

            <div class="four columns centre-align">
                <p>View week beginning</p>

                <select>
                    <option selected="selected">22nd Jan</option>
                    <option>29th Jan</option>
                    <option>5th Feb</option>
                    <option>12th Feb</option>
                </select>
            </div>

            <div class="four columns right-align">
                <p>Filter by staff name</p>
                <input type="text">
            </div>
        </div>
    </div>

    <div id="calendar" class="grid-container">
        <div class="col1"></div>
        <div class="col2 text">Monday<span class="faint-text date">22nd Jan</span></div>
        <div class="col3 text">Tuesday<span class="faint-text date">23rd Jan</span></div>
        <div class="col4 text">Wednesday<span class="faint-text date">24th Jan</span></div>
        <div class="col5 text">Thursday<span class="faint-text date">25th Jan</span></div>
        <div class="col6 text">Friday<span class="faint-text date">26th Jan</span></div>
        <div class="col7 text">Saturday<span class="faint-text date">27th Jan</span></div>
        <div class="col8 text">Sunday<span class="faint-text date">28th Jan</span></div>

        <div class="col-1 text">
            <span class="vertically-centered">Visitor centre</span>
        </div>
        <div id="m1" class="col-2 time-slot time-slot-available"></div>
        <div class="col-3 time-slot time-slot-full"></div>
        <div class="col-4 time-slot time-slot-empty"></div>
        <div class="col-5 time-slot time-slot-available"></div>
        <div class="col-6 time-slot time-slot-available"></div>
        <div class="col-7 time-slot time-slot-available"></div>
        <div class="col-8 time-slot time-slot-full"></div>
        <div class="col-9 time-slot time-slot-available"></div>
        <div class="col-10 time-slot time-slot-available"></div>
        <div class="col-11 time-slot time-slot-available"></div>
        <div class="col-12 time-slot time-slot-full"></div>
        <div class="col-13 time-slot time-slot-empty"></div>
        <div class="col-14 time-slot time-slot-full"></div>
        <div class="col-15 time-slot time-slot-available"></div>
        <div class="col-16 time-slot time-slot-booked"></div>
        <div class="col-17 time-slot time-slot-full"></div>
        <div class="col-18 time-slot time-slot-full"></div>
        <div class="col-19 time-slot time-slot-empty"></div>
        <div class="col-20 time-slot time-slot-available"></div>
        <div class="col-21 time-slot time-slot-available"></div>
        <div class="col-22 time-slot time-slot-available"></div>

        <div class="col1 text">
            <span class="vertically-centered">Tea</span>
        </div>
        <div id="m2" class="col-2 time-slot time-slot-available"></div>
        <div class="col-3 time-slot time-slot-available"></div>
        <div class="col-4 time-slot time-slot-empty"></div>
        <div class="col-5 time-slot time-slot-full"></div>
        <div class="col-6 time-slot time-slot-available"></div>
        <div class="col-7 time-slot time-slot-full"></div>
        <div class="col-8 time-slot time-slot-available"></div>
        <div class="col-9 time-slot time-slot-available"></div>
        <div class="col-10 time-slot time-slot-available"></div>
        <div class="col-11 time-slot time-slot-full"></div>
        <div class="col-12 time-slot time-slot-available"></div>
        <div class="col-13 time-slot time-slot-empty"></div>
        <div class="col-14 time-slot time-slot-booked"></div>
        <div class="col-15 time-slot time-slot-available"></div>
        <div class="col-16 time-slot time-slot-full"></div>
        <div class="col-17 time-slot time-slot-available"></div>
        <div class="col-18 time-slot time-slot-full"></div>
        <div class="col-19 time-slot time-slot-empty"></div>
        <div class="col-20 time-slot time-slot-available"></div>
        <div class="col-21 time-slot time-slot-available"></div>
        <div class="col-22 time-slot time-slot-available"></div>

        <div class="col1 text">
            <span class="vertically-centered">Play area</span>
        </div>
        <div id="m3" class="col-2 time-slot time-slot-available"></div>
        <div class="col-3 time-slot time-slot-full"></div>
        <div class="col-4 time-slot time-slot-empty"></div>
        <div class="col-5 time-slot time-slot-available"></div>
        <div class="col-6 time-slot time-slot-full"></div>
        <div class="col-7 time-slot time-slot-booked"></div>
        <div class="col-8 time-slot time-slot-full"></div>
        <div class="col-9 time-slot time-slot-available"></div>
        <div class="col-10 time-slot time-slot-available"></div>
        <div class="col-11 time-slot time-slot-available"></div>
        <div class="col-12 time-slot time-slot-full"></div>
        <div class="col-13 time-slot time-slot-empty"></div>
        <div class="col-14 time-slot time-slot-full"></div>
        <div class="col-15 time-slot time-slot-available"></div>
        <div class="col-16 time-slot time-slot-available"></div>
        <div class="col-17 time-slot time-slot-full"></div>
        <div class="col-18 time-slot time-slot-full"></div>
        <div class="col-19 time-slot time-slot-empty"></div>
        <div class="col-20 time-slot time-slot-available"></div>
        <div class="col-21 time-slot time-slot-available"></div>
        <div class="col-22 time-slot time-slot-full"></div>
    </div>

    <div id="calendar-navigation-right">
        <p>Next week</p>
        <img src="images/right_arrow.jpg" alt="Right arrow">
    </div>

    <div id="calendar-modal-outer">
        <div id="calendar-modal">
            <p class="close">&times;</p>

            <h2>MORNING 9am - 12pm<br>Wednesday 24th Jan, Durham Site</h2>

            <h3>Paid</h3>
            <ul>
                <li>
                    <img src="images/tick.png" class="blob tick-icon">Tea
                    <div class="user-in-role">
                        <img src="images/profile_image.png" class="blob">John Smith
                    </div>
                </li>
                <li>
                    <div class="blob color-blank blob-clickable"></div>Play area
                    <div class="user-in-role">
                        <button class="book-button" onclick="bookNow()">Book now</button>
                    </div>
                </li>
            </ul>

            <h3>Volunteers</h3>
            <ul>
                <li>
                    <img src="images/tick.png" class="blob tick-icon">Visitor centre
                    <div class="user-in-role">
                        <img src="images/profile_image.png" class="blob">Katy Doe
                    </div>
                </li>
                <li>
                    <img src="images/tick.png" class="blob tick-icon">Tea
                    <div class="user-in-role">
                        <img src="images/profile_image.png" class="blob">Matthew Franklin
                    </div>
                </li>
                <li>
                    <div class="blob color-blank"></div>Visitor centre
                    <div class="user-in-role">
                        <button class="book-button" onclick="bookNow()">Book now</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>  
</div>
</body>
</html>